// Body
html, body {
	width: 100%;
	height: 100%;

    background: #000;

	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			 -ms-font-smoothing: antialiased;
					 font-smoothing: antialiased;
}


// Vendor
@import 'vendor/normalize/normalize';
@import 'vendor/foundation/foundation';

// Common
@import 'common/var';
@import "common/loader";
@import 'common/fonts';
@import 'common/share-top';
@import 'common/action';

// Views
@import "views/home";
@import "views/experience";
@import "views/menu";
@import "views/share";
@import "views/share-top";
@import "views/explication";
@import "views/erreur_404";
@import "views/block_mobile";