<section id="erreur_404">
	<div class="content-404">
		<div class="large-12 columns">
			<p>Erreur 404</p>
			<p>Désolé, mais vous vous êtes trompé de chemin.<br>
				Retourner sur: <a href="/">la page d'accueil</a></p>
		</div>
	</div>
</section>