<div class="row full-width">
    <div class="share-top">
        <div class="left">
           <a href="https://www.facebook.com/Sur-le-Chemin-de-l%C3%89cole-1530635077255083">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/RodolpheeGrivet">
                <i class="fa fa-twitter"></i>
            </a>         
        </div>
        <div class="right">
            <a href="/share">partager votre trajet</a>
        </div>
    </div>
</div>
<div class="clear"></div>
<section id="explication">
    <div class="explicationContent">
        <div class="rectangle rectangletop">
            <img src="../assets/img/explication_nav/top-arrow.svg" alt="arrow">
        </div>
        <div class="rectangle rectangle1"></div>
        <div class="rectangle rectangle2">
             <img src="../assets/img/explication_nav/bot-arrow.svg" alt="arrow">
        </div>
        <div class="rectangle rectangle3"></div>
        <p class="text-explication">
            Naviguez avec votre clavier
        </p>
    </div>
</section>