<a href="#modaLink">
    <div class="cursor">
      <div class="inner"></div>
      <div class="circle"></div>
    </div>
</a>

<div id="modaLink" class="modal">
    <a href="#close" class="close" title="Fermer">
        <span class="close_modal"></span>
        <span class="close_modal"></span>
    </a>
    <div class="content-modal">
        <h3>Lac</h3>
        <div class="separator"></div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus distinctio aspernatur incidunt ducimus vel obcaecati quidem minima, eveniet hic ullam ipsa repellat quasi deleniti sapiente dolor illum architecto harum, alias!
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus distinctio aspernatur incidunt ducimus vel obcaecati quidem minima, eveniet hic ullam ipsa repellat quasi deleniti sapiente dolor illum architecto harum, alias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus distinctio aspernatur incidunt ducimus vel obcaecati quidem minima, eveniet hic ullam ipsa repellat quasi deleniti sapiente dolor illum architecto harum, alias!
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus distinctio aspernatur incidunt ducimus vel obcaecati quidem minima, eveniet hic ullam ipsa repellat quasi deleniti sapiente dolor illum architecto harum, alias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus distinctio aspernatur incidunt ducimus vel obcaecati quidem minima, eveniet hic ullam ipsa repellat quasi deleniti sapiente dolor illum architecto harum, alias!
        </p>
	</div>
</div>